 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Use Duse to share secrets with coworkers or friends. Duse uses well established encryption algorithms combined to securely share your secrets. During the whole process the server is not able to decrypt the secret, only participants are able to do so.</p>
                </div>
                <div class="col-lg-4">
                  <p>The combination of the used algorithms, or the <i>cryptographic protocol</i>, is open and we are happy to discuss improvements with you. The cryptographic protocol is documented on GitHub for you to review, have a look!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/duse-io/api#how-it-works" class="btn btn-lg btn-success">
                        <i class="fa fa-github"></i> How it works
                    </a>
                </div>
            </div>
        </div>
    </section>
