 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Use Duse to share secrets with coworkers or friends. Duse uses well established encryption algorithms combined to securely share your secrets. During the whole process the server is not able to decrypt the secret, only participants are able to do so.</p>
                </div>
                <div class="col-lg-4">
                    <p>The combination of the used algorithms, or the <i>cryptographic protocol</i>, is open and we are happy to discuss improvements with you. The cryptographic protocol is documented on GitHub. This is a preview, we incourage you to check it out and improve it with us!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/duse-io/api#how-it-works" class="btn btn-lg btn-success">
                        <i class="fa fa-github"></i> How it works
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 15px;">
                    <a href="https://news.ycombinator.com/item?id=9516699" class="btn btn-lg btn-success">
                        <i class="fa fa-hacker-news"></i> Discuss on Hacker News
                    </a>
                </div>
            </div>
        </div>
    </section>
