 <!-- API Section -->
    <section id="api" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>API</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We have developed a RESTful API to distribute your secrets securely. It can easily be setup with Docker or with the push of a button on Heroku.</p>
                </div>
                <div class="col-lg-4">
                    <p>Building on the shoulders of giants. The RESTful API has been developed using sinatra and activerecord.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/duse-io/api" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> duse-io/api
                    </a>
                </div>
            </div>
        </div>
    </section>
