 <!-- Clients Section -->
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Clients</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A CLI written in ruby is the reference implementation, but we hope there will be plenty of other implementations in other languages.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently only the CLI is supported, but a webinterface written in dart is in the pipeline.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/duse-io/duse.rb#the-client" class="btn btn-lg btn-success">
                        <i class="fa fa-github"></i> Find out how to use the CLI
                    </a>
                </div>
            </div>
        </div>
    </section>
