 <!-- Setup Section -->
    <section id="setup" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Setup your own</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We have developed a RESTful API to distribute your secrets securely. It can easily be setup on Heroku or using Docker. </p>
                </div>
                <div class="col-lg-4">
                  <p>Go ahead and setup your own instance on Heroku or manually setup one. We've prepared easy to follow setup guides for you.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 10px;">
                  <a href="https://heroku.com/deploy?template=https://github.com/duse-io/api"><img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy" style="max-width:100%;"></a>
                </div>
            </div>
            <div class="row">
                <p class="text-center" style="margin-top: 15px;">or</p>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/duse-io/setup" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> Setup Instructions
                    </a>
                </div>
            </div>
        </div>
    </section>
