 <!-- Setup Section -->
    <section id="setup" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Setup your own</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We have developed a RESTful API to distribute your secrets securely. It can easily be setup using Docker. </p>
                </div>
                <div class="col-lg-4">
                  <p>Go ahead and setup your own instance. We've prepared easy to follow setup guides for you.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/duse-io/api" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> Setup Instructions
                    </a>
                </div>
            </div>
        </div>
    </section>
