body {
  background-color: #d5e0c1;
  padding-bottom: 30px;
  padding-top: 0px;
}
.navbar {
  margin-bottom: 0px;
  box-shadow: inset 0px -1px 0px 0px #222222;
}
.navbar .navbar-nav > li > a {
  padding-bottom: 19px;
  padding-top: 19px;
}
.navbar .nav .btn {
  margin: 12px 4px;
}
.navbar .nav .profilpicture {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.navbar .navbar-brand span {
  vertical-align: top;
}
.navbar .navbar-form {
  margin-top: 13px;
  color: rgba(255, 255, 255, 0.84);
}
.navbar .navbar-right .btn {
  color: rgba(255, 255, 255, 0.84);
}
.navbar .form-control {
  color: rgba(255, 255, 255, 0.84);
}
.navbar .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar .form-control::placeholder {
  color: rgba(255, 255, 255, 0.84);
}
#sidebar-wrap {
  width: 200px;
  margin: 15px auto;
  position: relative;
}
.sidebar-nav {
  width: 190px;
}
.sidebar-nav .navbar {
  box-shadow: none;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .sidebar-nav {
    position: relative;
  }
}
.container.big {
  width: 100%;
  padding: 0px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .container.big #mainheader {
    margin-top: 0px;
  }
}
.container.big #mainheader {
  width: 100%;
  height: 55vh;
  max-height: 58vw;
  margin-top: -10px;
}
.container.big #mainheader #mainheaderfoto {
  width: 100%;
  height: 100%;
  background-image: url('../../images/mainheader.jpg');
  background-size: cover;
  background-position: center calc(100% + 5vw);
  border-bottom: 1px solid #222222;
}
.container.big #mainheader #mainheaderfoto .container {
  height: 100%;
}
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable {
  display: inline-table;
  height: 100%;
}
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable .mainheadertext {
  text-shadow: 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  height: 100%;
  width: 100%;
}
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable .mainheadertext h1 {
  font-size: calc(3vw + 3vh);
}
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable .mainheadertext h2 {
  font-size: calc(2vw + 2vh);
}
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable .mainheadertext h1,
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable .mainheadertext h2 {
  color: #eeeeee;
}
.container.big #mainheader #mainheaderfoto .container .mainheadertexttable .mainheadertext h2 {
  margin-right: 8vw;
}
.container .headline {
  text-align: center;
}
/* Navigation
--------------------------------------------------*/
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.maincontent p,
.maincontent pre {
  margin-left: 20px;
}
/* Treeview
---------------------------------------------------*/
.tree .list-group-item {
  cursor: pointer;
}
.tree .list-hidden {
  display: none;
}
.tree .list-group-children {
  padding-left: 20px;
}
.tree .close-entry .row-action-primary .open-entry-icon {
  display: none;
}
.tree .row-action-primary .open-entry-icon {
  background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0 !important;
}
.tree .open-entry .row-action-primary .close-entry-icon {
  display: none;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  color: rgba(255, 255, 255, 0.84);
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #8f0955;
  border-color: #e7e7e7;
  border-top: 1px solid #222222;
}
.footer .text-muted {
  color: rgba(255, 255, 255, 0.84);
}
.footer .text-muted a {
  color: rgba(255, 255, 255, 0.84);
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
}
/*Styles*/
/*//////////////////////////////////////////////////*/
hr {
  border-color: rgba(0, 0, 0, 0.84);
}
.row-space {
  margin-top: 40px;
}
.row-space-big {
  margin-top: 60px;
}
.card .card-footer button:first-child {
  left: 0px;
}
.card .card-footer a {
  bottom: 25px;
  margin: 0 !important;
  position: relative;
  width: auto;
}
.col-center {
  margin-top: 15px;
}
/* Pages */
.account .profilpicture {
  width: 220px;
  height: 220px;
  border-radius: 110px;
}
